
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 0.8rem 1.5rem;
  background: $color-primary;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: $transition-default;
  cursor: pointer;

  &:hover {
    background: $color-primary-dark;
  }
}

@mixin icon-container($size, $radius: 50%) {
  width: $size;
  height: $size;
  line-height: $size;
  background: rgba($color-primary, 0.1);
  border-radius: $radius;
  display: inline-block;
  text-align: center;
  transition: $transition-default;
}
