//  Colores principales
$color-primary: #f8d49d;
$color-primary-dark: #e1b96f;
$color-dark: #111111;
$color-bg: #fafafa;
$color-text: #333;

// Tipografía
$font-title: 'Playfair Display', serif;
$font-body: 'Roboto', sans-serif;
